.container {
    background-image: url("https://www.si.com/.image/t_share/MTgxMTc2OTIyMDQ1MTYyODU2/usatsi_15049097_168390393_lowres.jpg");
    color: white;
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blue
    

}


